{% extends '@AKYOSEasyCopro/BackOffice/Artisan/layout.html.twig' %}

{% block title %}
    Gestion des documents
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block titre_page %}
    Gestion des documents
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('artisan_index') }}">Tableau de bord</a></li>
    <li class="active">Mes documents</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-3">

            <div class="row" style="background:#FFF; margin-bottom: 20px;">
                <div class="col-md-12">
                    <a href="" class="btn btn-block btn-default visible-xs" data-toggle="collapse"
                       data-target="#recherche">Recherche par catégorie</a>
                    <div id="recherche" class="collapse navbar-collapse remove-padding">
                        <h4 class="inner-sidebar-header">Rechercher par catégorie
                        </h4>
                        <div class="block-section">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active">
                                    <a href="" class="categorie-link" data-categorie="all">
                                        <span class="badge pull-right">{{ documentsCount }}</span>
                                        <strong>Toutes</strong>
                                    </a>
                                </li>
                                {% for categorie in categoriesCount %}
                                    <li>
                                        <a href="" class="categorie-link" data-categorie="{{ categorie[0]['id'] }}">
                                            <span class="badge pull-right">{{ categorie[1] }}</span>
                                            <strong>{{ categorie[0]['nom'] }}</strong>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="coownerships-files">
            <div class="block-content-full animation-fadeInQuick2">
                <!-- Enable drop file to upload ( AJAX ) -->
                <form id="form-search" action="" class="dropzone dz-clickable">
                    <div class="table-responsive">
                        <table id="full-files-datatable"
                               class="table table-striped table-borderless style-hover table-vcenter">
                            <thead>
                            <tr style="background:#EDEDED;">
                                <th class="text-center" style="width: 25px; display:none">ID</th>
                                <th>Nom du fichier</th>
                                <th>Catégorie</th>
                                <th style="width: 80px;">Ajouté le</th>
                                <th class="text-center" style="width: 42px;"><i class="fa fa-flash"></i></th>
                            </tr>
                            </thead>
                            <tbody class="documents-rows">
                            {% for document in documents %}
                                <tr>
                                    <td class="text-center" style="display:none">{{ document.id }}</td>
                                    <td style="padding-left:17px;">
                                        <a href="{{ path('artisan_show_document', {'id': document.id}) }}"><strong style="cursor: pointer !important;">{{ document.titre }}</strong></a>
                                    </td>
                                    <td><span class="label label-{{ document.categorie }}"
                                              style="background-color: black">{{ document.categorie }}</span>
                                    </td>
                                    <td class="text-center">{{ document.dateAjout|date('d/m/Y') }}</td>
                                    <td class="text-center">
                                        <a href="{{ vich_uploader_asset(document, 'fichier') }}" download="{{ document.nom~'.'~document.extension }}"
                                           data-toggle="tooltip" title="Télécharger le document"
                                           class="btn btn-effect-ripple btn-xs btn-primary">
                                            <i class="fa fa-download"></i></a>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Regular Modals -->
    <div id="modal-fade-add-document" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    </div>

    <div id="modal-fade-del-document" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><strong>Confirmation de suppression</strong></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Voulez-vous vraiment supprimer ce document ?</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <div class="form-group pull-right">
                            <a href="" id="delete-doc" style="margin-right: 20px;"><button type="button" class="btn btn-effect-ripple btn-primary">Supprimer</button></a>
                            <button type="button" class="btn btn-effect-ripple btn-danger" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Regular Fade -->
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/backoffice/js/gestion_documents.js') }}"></script>
{% endblock %}
