
<h3>Un message de l'utilisateur : {{ name }} à été reçu . !</h3>
<br/>

Nom : {{ name }}
<br/>
E-mail : {{ email }}
<br/>
Télephone : {{ tel }}
<br/>

Message : {{ message }}
<br/>
<br/>
N'oubliez pas de répondre aux personnes via leur E-mail personnel .
<br/>
( Ne pas cliquer directement sur "Répondre" )