
<h3>Un message de l'utilisateur {{ name }} à été reçu . !</h3>
<br/>

Nom : <em>{{ name }}</em>
<br/>
E-mail : <em>{{ email }}</em>
<br/>
Télephone : <em>{{ tel }}</em>
<br/>

Message : <em>{{ message }}</em>
<br/>
<br/>
N'oubliez pas de répondre aux personnes via leur E-mail personnel .
<br/>
( Ne pas cliquer directement sur "Répondre" )