

{{ form_start(form, {'attr': {'action':path('postit_new'), 'class': 'form-horizontal'}}) }}
    <div class="form-group">
        <div class="col-md-12">
            {{ form_label(form.content, 'Contenu', {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(form.content) }}
            {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'placeholder':'Contenu'}}) }}

        </div>
    </div>
<div class="row">
    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-effect-ripple btn-primary pull-right'}}) }}
        </div>
    </div>
</div>
    {{ form_end(form) }}