{% extends 'base.html.twig' %}

{% block body %}
    <h1>Postit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ postit.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ postit.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ postit.content }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('postit_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('postit_edit', { 'id': postit.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
