{% extends '@AKYOSEasyCopro/BackOffice/Coproprietaire/layout.html.twig' %}

{% block title %}
    Affichage d'un message
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block titre_page %}
    Affichage d'un message
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('coproprietaire_inbox') }}">Mes messages</a></li>
    <li class="active">Affichage d'un message</li>
{% endblock %}

{% block content %}
    <div class="row">
        <!-- Message View -->
        <div id="message-view" class="block-section col-md-10 col-md-offset-1" style="background:#FFF">
            <!-- Title -->
            <div class="block-title clearfix" style="margin:0px -15px">
                <div class="block-options pull-right">
                    <a href="{{ path('coproprietaire_notLu', {'id': message.id}) }}" class="btn btn-effect-ripple btn-info" data-toggle="tooltip" title="Marquer comme non lu"><i class="fa fa-envelope"></i></a>
                    <a href="{{ path('coproprietaire_nowSupprime', {'id': message.id}) }}" class="btn btn-effect-ripple btn-danger" data-toggle="tooltip" title="Supprimer"><i class="fa fa-trash"></i></a>
                </div>
                <div class="block-options pull-left">
                    <a href="{{ path('coproprietaire_inbox') }}" class="btn btn-effect-ripple btn-default" id="message-view-back"><i class="fa fa-chevron-left"></i> Retour à la boîte de réception</a>
                </div>
            </div>
            <!-- END Title -->

            <!-- Header -->

            <h3><strong>{{ message.titre }}</strong>
                <small class="pull-right"><em>reçu le {{ message.dateEnvoi|date('d/m/Y \\à h\\hi') }}</em></small></h3>
            <p>de <strong style="color: #45A7B9">{{ message.expediteur }}</strong></p>
            <!-- END Header -->

            <!-- Message Body -->
            <hr>
            <p>{{ message.contenu|nl2br }}</p>
            <hr>
            <!-- END Message Body -->

            <!-- Attachments Row --> <!--
            <div class="row block-section">
                <div class="col-xs-6 col-sm-3 col-lg-2 text-center">
                    <a href="<?= ressources('back'); ?>/img/placeholders/photos/photo2.jpg" data-toggle="lightbox-image">
                        <img src="<?= ressources('back'); ?>/img/placeholders/photos/photo2.jpg" alt="photo" class="img-responsive push-bit">
                    </a>
                    <span class="text-muted">IMG0001.JPG</span>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2 text-center">
                    <a href="<?= ressources('back'); ?>/img/placeholders/photos/photo16.jpg" data-toggle="lightbox-image">
                        <img src="<?= ressources('back'); ?>/img/placeholders/photos/photo16.jpg" alt="photo" class="img-responsive push-bit">
                    </a>
                    <span class="text-muted">IMG0002.JPG</span>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2 text-center">
                    <a href="<?= ressources('back'); ?>/img/placeholders/photos/photo9.jpg" data-toggle="lightbox-image">
                        <img src="<?= ressources('back'); ?>/img/placeholders/photos/photo9.jpg" alt="photo" class="img-responsive push-bit">
                    </a>
                    <span class="text-muted">IMG0003.JPG</span>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2 text-center">
                    <a href="<?= ressources('back'); ?>/img/placeholders/photos/photo15.jpg" data-toggle="lightbox-image">
                        <img src="<?= ressources('back'); ?>/img/placeholders/photos/photo15.jpg" alt="photo" class="img-responsive push-bit">
                    </a>
                    <span class="text-muted">IMG0004.JPG</span>
                </div>
            </div> -->
            <!-- END Attachments Row -->

            <!-- Quick Reply Form -->
            <div class="row" style="margin-bottom: 20px;">
                {{ render(controller('AKYOSEasyCoproBundle:Coproprietaire:replyMessage', {'message': message})) }}
            </div>
            <!-- END Quick Reply Form -->
        </div>
        <!-- END Message View -->
    </div>
{% endblock %}