{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/css/fosuser_design.css') }}">
{% endblock fos_user_stylesheets %}

{% block fos_user_content %}

    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="logo-div text-center">
                    <img class="logo" src="{{ asset('assets/img/logo.png') }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <h3><i class="fa fa-check fa-4x" aria-hidden="true"></i></h3>
                        <h2 class="text-center">Activation du compte</h2>
                        <div class="panel-body">
                            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                            <p><a href="{{ path('homepage') }}">Accéder à votre profil</a> </p>
                            {% if targetUrl %}
                                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock fos_user_content %}
