{{ form_start(form, { 'attr':{'novalidate': 'novalidate','class':'form-horizontal form-category-create', 'action': path('category_create', {'type': app.user.type}) }}) }}

<div class="col-sm-12">
    <div class="form-group" style="margin-right: 5px">
        {{ form_row(form.nom, {'attr':{'class': 'form-control', 'placeholder': 'category.placeholders.name'}}) }}
    </div>
</div>
<div class="col-sm-8    ">
    <div class="form-group">
        {{ form_label(form.couleur) }}
        <div class="input-group colorpicker-component">
            {{ form_widget(form.couleur, {'attr':{'class': 'form-control', 'placeholder': 'category.placeholders.color'}}) }}
            <span class="input-group-addon"><i></i></span>
        </div>
        {{ form_errors(form.couleur) }}
    </div>
</div>

<div class="col-sm-12">
    <div class="form-group">
        {{ form_row(form.description, {'attr':{'class': 'form-control', 'placeholder': 'category.placeholders.description'}}) }}
    </div>
</div>

<div class="form-group form-actions">
    <div class="col-md-3">
        {{ form_widget(form.submit, {'label': 'category.submit_create', 'attr': {'class': 'btn btn-effect-ripple btn-primary'}}) }}
    </div>
</div>

{{ form_rest(form) }}
{{ form_end(form) }}

<script>
    if (typeof addCategoryFormListener === 'function') {
        addCategoryFormListener('create');
    }
</script>
