<!DOCTYPE html>
<html>
<head>
    <title>Création d'un nouveau compte</title>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: "Helvetica Neue", 'Arial', sans-serif;
            margin-top: 80px;
        }
        address {
            text-decoration: none;
        }
        address.expediteur {
            margin-top: 50px;
        }
        address.destinataire {
            padding-left: 500px;
            margin-bottom: 50px;
        }
        p.indent {
            text-indent: 50px;
        }
        p.signature {
            margin-top: 80px;
            padding-left: 400px;
        }
        ul.identifiants {
            margin-left: 125px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <address class="expediteur">
                {% if expediteurType == 'ADMIN' %}
                    <strong>AKYOS</strong><br>
                    Parc Valmy<br>
                    8F rue Jeanne Barret<br>
                    21000 DIJON<br>
                    Tél. : 03 80 10 23 57<br>
                    E-mail : info@akyos.com<br>
                {% elseif expediteurType == 'SYNDIC' %}
                    <strong>{{ expediteur.nom }}</strong><br>
                    {{ expediteur.adressePrinc }}<br>
                    {{ expediteur.adresseSec }}<br>
                    {{ expediteur.codePostal ~ ' ' ~ expediteur.ville }}<br>
                    Tél. : {{ expediteur.telephoneBureau }}<br>
                    E-mail : {{ expediteur.emailBureau }}<br>
                {% endif %}
            </address>
        </div>
        <div class="col-sm-12">
            <address class="destinataire">
                {% if destinataire.user.type == 'ARTISAN' %}
                    <strong>{{ destinataire.raisonSociale }}</strong><br>
                    {{ destinataire.adressePrinc }}<br>
                    {{ destinataire.adresseSec }}<br>
                    {{ destinataire.codePostal ~ ' ' ~ destinataire.ville }}
                {% elseif destinataire.user.type == 'SYNDIC' %}
                    <strong>{{ destinataire.nom }}</strong><br>
                    {{ destinataire.adressePrinc }}<br>
                    {{ destinataire.adresseSec }}<br>
                    {{ destinataire.codePostal ~ ' ' ~ destinataire.ville }}<br>
                {% else %}
                    <strong>{{ destinataire.prenom ~ ' ' ~ destinataire.nom }}</strong><br>
                    {#TODO : à décommenter quand on pourra choisir la copropriété et le lot#}
                    {#Copropriété : {{ destinataire.lot.copropriete }}<br>
                    Lot : {{ destinataire.lot.identifiant }}<br>
                    {{ destinataire.lot.copropriete.adressePrinc }}<br>
                    {{ destinataire.lot.copropriete.adresseSec }}<br>
                    {{ destinataire.lot.copropriete.codePostal ~ ' ' ~ destinataire.lot.copropriete.ville }}<br>#}
                {% endif %}
            </address>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p><strong>Objet : Création de votre compte sur EasyCopro</strong></p>
            <p class="indent">Monsieur, Madame,</p>
            {% if destinataire.user.type == 'SYNDIC' %}
                <p class="indent">Suite à votre demande, la société AKYOS vous a généré un compte pour accèder à la plateforme
                    EasyCopro. Vous pouvez donc vous connecter dès à présent sur votre espace personnel. Rendez vous sur
                    www.easycopro.com et saisissez les identifiants suivants :</p>
            {% else %}
                <p class="indent">Votre syndicat de copropriété {{ expediteur.nom }} vous a généré un compte pour accèder à la plateforme
                    EasyCopro. Vous pouvez donc vous connecter dès à présent sur votre espace personnel. Rendez vous sur
                    www.easycopro.com et saisissez les identifiants suivants :</p>
            {% endif %}
            <ul class="identifiants">
                <li><strong>Identifiant :</strong> {{ destinataire.user.username }}</li>
                <li><strong>Mot de passe :</strong> {{ password }}</li>
            </ul>
            <p class="indent">La plateforme EasyCopro facilite les échanges entre les syndicats de copropriété, les copropriétaires, les
                locataires et les fournisseurs. Vous pouvez retrouver toutes les informations concernant la plateforme à
                l'adresse www.easycopro.com.</p>
            <p class="indent">Tout l'équipe d'EasyCopro vous souhaite la bienvenue sur notre plateforme.</p>
            <p class="signature">L'équipe d'EasyCopro,</p>
        </div>
    </div>
</div>

</body>
</html>
