<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">

    <title>EasyCopro - Espace de gestion</title>

    <meta name="description" content="Macopro outil de gestion des biens immobiliers">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.png') }}">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/backoffice/css/plugins.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/backoffice/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/backoffice/css/themes/flat.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/backoffice/css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/backoffice/css/loading.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/backoffice/css/normalize.css') }}">
    {% block stylesheets %}{% endblock %}
    <!-- END Stylesheets -->

    <!-- Modernizr (browser feature detection library) -->
    <script src="{{ asset('assets/vendor/modernizr/modernizr-2.8.3.min.js') }}"></script>
</head>
<body>

<div id="page-wrapper" class="page-loading">
    <div class="preloader">
        <div class="inner">
            <!-- Animation spinner for all modern browsers -->
            <div class="preloader-spinner themed-background hidden-lt-ie10"></div>

            <!-- Text for IE9 -->
            <h3 class="text-primary visible-lt-ie10"><strong>Chargement..</strong></h3>
        </div>
    </div>
    <!-- END Preloader -->

    <div id="page-container" class="header-fixed-top sidebar-visible-lg-full">

        <!-- Main Sidebar -->
        <div id="sidebar">
            <div id="sidebar-brand" class="themed-background">
                <a href="/" class="sidebar-title" style="padding-left: 2px;">
                    <img src="{{ asset('assets/img/logo1.png') }}"> <span class="sidebar-nav-mini-hide">Easy<strong>Copro</strong></span>
                </a>
            </div>
            <!-- END Sidebar Brand -->

            {% block menu %}{% endblock %}

            <!-- Sidebar Extra Info -->
            <div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
                <div class="text-center">
                    <small><span id="year-copy"></span> &copy; <a href="/">EasyCopro 1.0</a></small>
                </div>
            </div>
            <!-- END Sidebar Extra Info -->
        </div>
        <!-- END Main Sidebar -->

        <!-- Main Container -->
        <div id="main-container">
            <header class="navbar navbar-inverse navbar-fixed-top">
                <div>
                    <!-- Left Header Navigation -->
                    <ul class="nav navbar-nav-custom">
                        <!-- Main Sidebar Toggle Button -->
                        <li>
                            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');
                                            this.blur();">
                                <i class="fa fa-ellipsis-v fa-fw animation-fadeInRight" id="sidebar-toggle-mini"></i>
                                <i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full"></i>
                            </a>
                        </li>
                        <!-- END Main Sidebar Toggle Button -->

                        <!-- Header Link -->
                        <li class="hidden-xs animation-fadeInQuick" id="copro-selector">
                            <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">
                                <span>Gestion de : &nbsp;</span>&nbsp;
                                    {% if app.session.get('copro') is defined %}{{ app.session.get('copro') }}{% endif %} &nbsp;
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu text-left" id="all-coownerships-dropdown">
                                <li class="dropdown-header"><i class="fa fa-building pull-right"></i> <strong>Mes copropriétés</strong></li>
                                {#TODO : adapter la liste déroulante au syndic actuel#}
                                {#<li><a href="javascript:void(0)"><i class="fa fa-folder-o pull-right"></i>Résidence aux 5 palmiers</a></li>#}
                                {#<li><a href="javascript:void(0)"><i class="fa fa-folder-o pull-right"></i>Appartement Leclerc</a></li>#}
                                <li class="divider"></li>
                                <li><a href="{{ path('syndic_create_copropriete') }}"><i class="fa fa-plus pull-right"></i>Ajouter</a></li>
                            </ul>
                        </li>
                        <!-- END Header Link -->
                    </ul>
                    <!-- END Left Header Navigation -->

                    <!-- Right Header Navigation -->
                    <ul class="nav navbar-nav-custom pull-right">
                        <!-- Search Form -->
                        <li>
                            <form action="" method="post" class="navbar-form-custom" role="search">
                                <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Rechercher..">
                            </form>
                        </li>
                        <!-- END Search Form -->

                        <!-- User Dropdown -->
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="avatar">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    <strong>{{ app.user.username }}</strong>
                                </li>
                                <li>
                                    <a href="{{ path('syndic_show') }}">
                                        <i class="fa fa-pencil-square fa-fw pull-right"></i>
                                        Mon compte
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('syndic_parameters') }}">
                                        <i class="gi gi-settings fa-fw pull-right"></i>
                                        Paramètres
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-power-off fa-fw pull-right"></i>
                                        Se déconnecter
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END User Dropdown -->
                    </ul>
                    <!-- END Right Header Navigation -->
                </div>

                <!-- Titre page + Breadcrumb + FlashMessages -->
                <div class="container-fluid">
                    <div class="row titre-box">
                        <h4 class="titre-text">
                            {% block titre_page %}{% endblock %}</h4>
                    </div>
                    <div class="row">
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home fa-fw" aria-hidden="true"></i></li>
                            {% block breadcrumb %}{% endblock %}
                        </ol>
                    </div>

                    {% for message in app.session.flashbag.get('info') %}
                        <div class="flash-box">
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                    ×</button>
                                <span class="glyphicon glyphicon-ok"></span> <strong>Notification</strong>
                                <hr class="message-inner-separator">
                                <p>{{ message }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- END Titre page + Breadcrumb + FlashMessages -->

            </header>
            <!-- END Header -->

            <!-- Page content -->
            <div id="page-content">
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                    {% block boo %}{% endblock %}
                </div>
            </div>

            <!-- END Page Content -->

        </div>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
</div>
<!-- END Page Wrapper -->


{#<!-- Regular Modals -->
<div id="modal-fade-add-coownership" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title"><strong>Ajouter une copropriété</strong></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12"><small>Nombre de copropriétés restantes : <strong>5</strong></small></div>
                </div><br>
                <form action="<?= WWW; ?>/" method="post" class="form-horizontal" onsubmit="return false;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-7" style="margin-right:30px">
                                <div class="form-group">
                                    <label for="val-coownership-name">Nom de la propriété *</label>
                                    <input type="text" id="val-coownership-name" name="val-coownership-name" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="val-city">Ville *</label>
                                    <input type="text" id="val-city" name="val-city" value="" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-7" style="margin-right:30px">
                                <div class="form-group">
                                    <label for="val-address">Adresse *</label>
                                    <input type="text" id="val-address" name="val-address" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="val-postal-code">Code postal *</label>
                                    <input type="text" id="val-postal-code" name="val-postal-code" value="" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">Image</label>
                            <input type="file" class="filestyle" id="fileInput" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                            <div class="bootstrap-filestyle input-group"><input type="text" class="form-control " disabled="">
                                <span class="group-span-filestyle input-group-btn" tabindex="0">
                                            <label for="fileInput" class="btn btn-info">
                                                <span class="glyphicon fa fa-file-image-o"></span> Importer une image
                                            </label>
                                        </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="form-group pull-right">
                        <input type="submit" class="btn btn-effect-ripple btn-primary" value="Sauvegarder">
                        <button type="button" class="btn btn-effect-ripple btn-danger" data-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Regular Fade -->#}

<script src="{{ asset('assets/vendor/jquery/jquery-2.2.4.min.js') }}"></script>

<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/backoffice/js/plugins.js') }}"></script>
<script src="{{ asset('assets/backoffice/js/app.js') }}"></script>

<!-- Datatable code -->
<script src="{{ asset('assets/backoffice/js/pages/uiTables.js') }}"></script>
<script>$(function(){ UiTables.init(); });</script>

<!-- Calendar code -->
<script src="{{ asset('assets/backoffice/js/pages/compCalendar.js') }}"></script>
<script src="{{ asset('assets/backoffice/js/pages/lang/fr.js') }}"></script>
<script>$(function(){ CompCalendar.init(); });</script>

<!-- Form element and validation code -->
<script src="{{ asset('assets/backoffice/js/pages/formsComponents.js') }}"></script>
<script src="{{ asset('assets/backoffice/js/pages/formsValidation.js') }}"></script>
<script>$(function() { FormsValidation.init(); });</script>
<script>$(function(){ FormsComponents.init(); });</script>

<!-- Emails code -->
<script src="{{ asset('assets/backoffice/js/pages/appEmail.js') }}"></script>
<script>$(function(){ AppEmail.init(); });</script>

<!-- Custom element for Backend -->
<script src="{{ asset('assets/backoffice/js/custom.js') }}"></script>
<script src="{{ asset('assets/frontoffice/js/flash_messages_box.js') }}"></script>
<script src="{{ asset('assets/backoffice/js/spin.js') }}"></script>
<script src="{{ asset('assets/backoffice/js/loading.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>