<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Easy Copro{% endblock %}</title>
    <meta charset="UTF-8">

    <link rel="icon" type="image/x-icon" href="{{ asset('assets/ico/favicon.png') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/backoffice/backoffice.css') }}">
    {% block stylesheets %}{% endblock %}

</head>
<body>

<div class="row top-row">

    <div class="col-sm-3 col-md-2 affix-sidebar">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav" id="sidenav01">
                        <li class="active text-center">
                            <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01"
                               class="collapsed">
                                <img src="{{ asset('assets/img/logo.png') }}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-9 col-md-10 top-menu">
        <div class="col-sm-6 col-search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Rechercher un document ...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <a href="/">
                <button type="button" class="btn btn-default" aria-label="Accueil">
                    <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                </button>
            </a>
            <a href="">
                <button type="button" class="btn btn-default" aria-label="Messagerie">
                    <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                </button>
            </a>
            <a href="{{ path('fos_user_security_logout') }}">
                <button type="button" class="btn btn-default" aria-label="Deconnexion">
                    <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Se déconnecter
                </button>
            </a>
            <a href="">
                <button type="button" class="btn btn-default" aria-label="Infos">
                    <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                </button>
            </a>
        </div>
    </div>
</div>

<div class="row affix-row">
    <div class="col-sm-3 col-md-2 affix-sidebar">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Sidebar menu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav" id="sidenav01">
                        {% block menu %}{% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-10 affix-content">
        {% block content %}{% endblock %}
    </div>
</div>

<script src="{{ asset('assets/js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.backstretch.min.js') }}"></script>
<script src="{{ asset('assets/js/wow.min.js') }}"></script>
<script src="{{ asset('assets/js/retina-1.1.0.min.js') }}"></script>
<script src="{{ asset('assets/js/scripts.js') }}"></script>

<!--[if lt IE 10]>
<script src="{{ asset('assets/js/placeholder.js') }}"></script>
<![endif]-->

{% block scripts %}
{% endblock %}

</body>
</html>

