
<!-- Wrapper for scrolling functionality -->

<div id="sidebar-scroll">
    <!-- Sidebar Content -->
    <div class="sidebar-content">
        <!-- Sidebar Navigation -->
        <ul class="sidebar-nav">
            <li>
                <a href="{{ path('admin_index') }}" class=""><i class="gi gi-compass sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Tableau de Bord</span></a>
            </li>
            <li class="sidebar-separator">
                <i class="fa fa-ellipsis-h"></i>
            </li>
            <li>
                <a href="{{ path('admin_show') }}" class=""><i class="fa fa-pencil-square sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Mon Profil</span></a>
            </li>
            <li>
                <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                    <i class="fa fa-building sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Mes Syndics</span></a>
                <ul>
                    <li><a href="{{ path('admin_list_syndics') }}">Tous</a></li>
                    {% for syndic in syndics %}
                        <li><a href="{{ path('admin_show_syndic', {'id':syndic.id}) }}">{{ syndic.nom }}</a></li>
                    {% endfor %}
                    <li><a href="#modal-fade-add-syndic" data-toggle="modal">Ajouter &nbsp; <i class="fa fa-plus pull-right badge-menu-item"></i></a></li>
                </ul>
            </li>
            <li class="sidebar-separator">
                <i class="fa fa-ellipsis-h"></i>
            </li>
            <li>
                <a href="{{ path('mailbox_homepage', {'type': app.user.type}) }}"><i class="fa fa-envelope sidebar-nav-icon"></i>
                    {% if unreadReceivedMailsCount > 0 %}
                        <span class="badge badge-menu-item label-primary pull-right sidebar-nav-mini-hide" style="font-weight: bold;">
                            {{ unreadReceivedMailsCount }}
                        </span>
                    {% endif %}
                    <span class="sidebar-nav-mini-hide">Mes Messages</span></a>
            </li>

            <li class="sidebar-separator">
                <i class="fa fa-ellipsis-h"></i>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Se déconnecter</span></a>
            </li>
        </ul>
        <!-- END Sidebar Navigation -->

    </div>
    <!-- END Sidebar Content -->
</div>
<!-- END Wrapper for scrolling functionality -->
