{{ form_start(form_add_artisan, {'attr': {'class': 'form-horizontal', 'action': path('syndic_create_artisan') }}) }}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title"><strong>Créer un fournisseur</strong></h3>
</div>

<div class="modal-body">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-12">
            <h3>Informations du compte</h3>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.user.username, { 'attr': {'class': 'form-control', 'placeholder':'Nom d\'utilisateur'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.user.email, { 'attr': {'class': 'form-control', 'placeholder':'Adresse e-mail'}}) }}
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.user.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder':'Mot de passe'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.user.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder':'Répétez le mot de passe'}}) }}
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.user.imageFile, { 'attr': {'class': 'form-control', 'placeholder':'Image de profil'}}) }}
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-building fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.copropriete, { 'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-12">
            <h3>Société</h3>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-building fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.raisonSociale, { 'attr': {'class': 'form-control', 'placeholder':'Raison sociale'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-list-alt fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.siret, { 'attr': {'class': 'form-control', 'placeholder':'SIRET'}}) }}
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-briefcase fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.activite, { 'attr': {'class': 'form-control', 'placeholder':'Activité'}}) }}
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-at fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.emailBureau, { 'attr': {'class': 'form-control', 'placeholder':'Adresse e-mail'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.telephoneBureau, { 'attr': {'class': 'form-control', 'placeholder':'Téléphone'}}) }}
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.adressePrinc, { 'attr': {'class': 'form-control', 'placeholder':'Adresse postale'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.adresseSec, { 'attr': {'class': 'form-control', 'placeholder':'Complément d\'adresse'}}) }}
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-pin fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.codePostal, { 'attr': {'class': 'form-control', 'placeholder':'Code postal'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-signs fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.ville, { 'attr': {'class': 'form-control', 'placeholder':'Ville'}}) }}
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-12">
            <h3>Utilisateur du compte</h3>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.contactPrenom, { 'attr': {'class': 'form-control', 'placeholder':'Prénom du contact'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-bookmark fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.contactNom, { 'attr': {'class': 'form-control', 'placeholder':'Nom du contact'}}) }}
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-at fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.contactEmail, { 'attr': {'class': 'form-control', 'placeholder':'Adresse e-mail du contact'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-mobile fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form_add_artisan.contactTelephone, { 'attr': {'class': 'form-control', 'placeholder':'Téléphone du contact'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 10px">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
            {{ form_widget(form_add_artisan.commentSyndic, { 'attr': {'class': 'form-control', 'placeholder':'Commentaire interne', 'rows':'1'}}) }}
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-12">
        <div class="form-group pull-right">
            {{ form_widget(form_add_artisan.submit, {'attr': {'class': 'btn btn-effect-ripple btn-primary'}}) }}
            <button type="button" class="btn btn-effect-ripple btn-danger" data-dismiss="modal" style="margin-left: 20px;">Annuler</button>
        </div>
    </div>
</div>

{{ form_rest(form_add_artisan) }}
{{ form_end(form_add_artisan) }}
