{{ form_start(form, {'action': path('syndic_create_lot')}) }}
<div class="row" style="margin-bottom: 10px">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-building fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form.identifiant, { 'attr': {'class': 'form-control', 'placeholder':'Identifiant'}}) }}
            </div>
        </div>
</div>
<div class="row" style="margin-bottom: 10px">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-building fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form.quotePart, { 'attr': {'class': 'form-control', 'placeholder':'Quote-Part'}}) }}
            </div>
        </div>
</div>
    <div class="row" style="margin-bottom: 10px">
    <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                {{ form_widget(form.type, { 'attr': {'class': 'form-control', 'placeholder':'Type du lot'}}) }}

            </div>
        </div>

</div>
<div class="row" style="margin-bottom: 10px">
    <div class="col-sm-12 text-center">
        <div class="form-group">
            {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-effect-ripple btn-primary'}}) }}
            <button type="button" class="btn btn-effect-ripple btn-danger" data-dismiss="modal" style="margin-left: 20px;">Annuler</button>

        </div>
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}