{% extends '@AKYOSBackoffice/Syndic/layout.html.twig' %}

{% block title %}
    Gestion des fournisseurs
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block titre_page %}
    Gestion des fournisseurs
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('syndic_index') }}">Tableau de bord</a></li>
    <li class="active">Mes fournisseurs</li>
{% endblock %}

{% block content %}

    {#<div class="content-header">#}
        {#<div class="row">#}
            {#<div class="col-sm-12">#}
                {#<div class="header-section">#}
                    {#<form action="" method="post" onsubmit="return false;">#}
                        {#<div class="col-sm-10">#}
                            {#<div class="row">#}
                                {#<div class="col-md-7">#}
                                    {#<div class="form-group">#}
                                        {#<input type="text" id="example-typeahead" name="example-typeahead"#}
                                               {#class="form-control input-typeahead-providers" autocomplete="off"#}
                                               {#placeholder="Rechercher...">#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="col-md-5">#}
                                    {#<label class="control-label" style="margin-right:15px">Trier par ordre#}
                                        {#Alphabétique</label>#}
                                    {#<label class="switch switch-warning"><input type="checkbox"><span></span></label>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="row">#}
                                {#<div class="form-group">#}
                                    {#<div class="col-md-10">#}
                                        {#<div class="form-group">#}
                                            {#<select id="search-categories" name="search-categories"#}
                                                    {#class="select-chosen" data-placeholder="Parmis une copropriété..."#}
                                                    {#style="width: 250px; display: none;" multiple="">#}
                                                {#<option value="all" selected="">Toutes les copropriétés</option>#}
                                                {#<option value="coowners">Résidence aux 5 palmiers</option>#}
                                                {#<option value="coowners-graded">Villa Roseraie</option>#}
                                                {#<option value="syndic">Appartement Leclerc</option>#}
                                            {#</select>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="col-md-2">#}
                                        {#<input type="submit" class="btn btn-effect-ripple btn-primary"#}
                                               {#value="Rechercher" style="overflow: hidden; position: relative;">#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</form>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    <div class="block-content-full animation-fadeInQuick2">
        <!-- Users Results -->
        <div class="tab-pane" id="search-tab-users">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table id="providers-datatable" class="table table-striped table-borderless style-hover table-vcenter">
                            <thead>
                            <tr style="background:#EDEDED;">
                                <th class="text-center" style="width: 25px; display:none">ID</th>
                                <th>Fournisseur</th>
                                <th>Activité</th>
                                <th>Adresse</th>
                                <th>Email</th>
                                <th class="text-center">Contact</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for artisan in artisans %}
                                <tr>
                                    <td class="text-center" style="display:none">{{ artisan.id }}</td>
                                    <td style="padding-left:17px; "><a href="{{ path('syndic_show_artisan', {'id': artisan.id }) }}"><strong>{{ artisan.raisonSociale }}</strong></a></td>
                                    <td>{{ artisan.activite }}</td>
                                    <td>{{ artisan.adressePrinc ~ ' '~ artisan.adresseSec ~ ' ' ~ artisan.codePostal ~ ' ' ~ artisan.ville }}</td>
                                    <td>{{ artisan.emailBureau }}</td>
                                    <td class="text-center">
                                        <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-primary"
                                           style="overflow: hidden; position: relative;" data-original-title="{{ artisan.telephoneBureau }}">
                                            <span class="badge"><i class="gi gi-earphone"></i></span></a>
                                        <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-primary"
                                           style="overflow: hidden; position: relative;" data-original-title="{{ artisan.contactTelephone }}">
                                            <span class="badge"><i class="gi gi-iphone"></i></span></a>
                                    </td>
                                    <td class="text-center" style="width: 100px;">

                                        <a href="{{ path('mailbox_homepage', {'type': app.user.type}) }}" data-toggle="tooltip" title="Envoyer un message" class="btn btn-effect-ripple btn-xs btn-info">
                                            <i class="fa fa-envelope"></i></a>

                                        <span data-toggle="modal" data-target="#modal-fade-del-artisan">
                                        <a data-toggle="tooltip" data-placement="top" title="Supprimer" data-artisan="{{ artisan.id }}"
                                           class="btn btn-effect-ripple btn-xs btn-danger btn-delete-artisan">
                                            <i class="fa fa-times"></i></a></span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END Users Results -->
        </div>
    </div>

    <!-- Regular Modals -->
    <div id="modal-fade-add-artisan" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ render(controller('AKYOSBackofficeBundle:Syndic:createArtisan')) }}
            </div>
        </div>
    </div>

    <div id="modal-fade-edit-artisan" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div id="modal-edit-form" class="modal-content">
            </div>
        </div>
    </div>

    <div id="modal-fade-del-artisan" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><strong>Confirmation de suppression</strong></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Voulez-vous vraiment supprimer ce fournisseur ?</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <div class="form-group pull-right">
                            <a href="" id="delete-artisan" style="margin-right: 20px;"><button type="button" class="btn btn-effect-ripple btn-primary">Supprimer</button></a>
                            <button type="button" class="btn btn-effect-ripple btn-danger" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('assets/backoffice/js/gestion_artisans.js') }}"></script>
{% endblock %}