
{{ form_start(form_add_categorie, {'attr':{'class':'form-horizontal', 'action': path('syndic_create_categorie') }}) }}

<div class="col-md-8">
    <div class="form-group" style="margin-right: 5px">
        {{ form_row(form_add_categorie.nom, {'attr':{'class': 'form-control', 'placeholder': 'Saisissez le nom ...'}}) }}
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        {{ form_label(form_add_categorie.couleur) }}
        <div class="input-group colorpicker-component">
            {{ form_widget(form_add_categorie.couleur, {'attr':{'class': 'form-control', 'placeholder': 'Choisissez une couleur ...'}}) }}
            <span class="input-group-addon"><i></i></span>
        </div>
        {{ form_errors(form_add_categorie.couleur) }}
    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        {{ form_row(form_add_categorie.description, {'attr':{'class': 'form-control', 'placeholder': 'Entrez une description ...'}}) }}
    </div>
</div>

<div class="form-group form-actions">
    <div class="col-md-3">
        {{ form_widget(form_add_categorie.submit, {'attr': {'class': 'btn btn-effect-ripple btn-primary'}}) }}
    </div>
</div>


{{ form_rest(form_add_categorie) }}
{{ form_end(form_add_categorie) }}

