{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block title %}
    Gestion des documents
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block titre_page %}
    Gestion des documents
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('syndic_index') }}">Dashboard</a></li>
    <li class="active">Mes documents</li>
{% endblock %}

{% block content %}

<div class="content-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="header-section">
                <form action="" method="post" onsubmit="return false;">
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <input type="text" id="example-typeahead" name="example-typeahead" class="form-control input-typeahead-providers" autocomplete="off" placeholder="Rechercher...">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label class="control-label" style="margin-right:15px">Trier par ordre Alphabétique</label>
                                <label class="switch switch-warning"><input type="checkbox"><span></span></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <select id="search-categories" name="search-categories" class="select-chosen" data-placeholder="Parmis une copropriété..." style="width: 250px; display: none;" multiple="">
                                            <option value="all" selected="">Toutes les copropriétés</option>
                                            <option value="coowners">Résidence aux 5 palmiers</option>
                                            <option value="coowners-graded">Villa Roseraie</option>
                                            <option value="syndic">Appartement Leclerc</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <input type="submit" class="btn btn-effect-ripple btn-primary" value="Rechercher" style="overflow: hidden; position: relative;">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="block-content-full animation-fadeInQuick2">
    <!-- Users Results -->
    <div class="tab-pane" id="search-tab-users">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table id="providers-datatable" class="table table-striped table-borderless style-hover table-vcenter">
                        <thead>
                        <tr style="background:#EDEDED;">
                            <th class="text-center" style="width: 25px; display:none">ID</th>
                            <th>Fournisseur</th>
                            <th>Adresse</th>
                            <th class="text-center">Contact</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for artisan in artisans %}
                        <tr>
                            <td class="text-center" style="display:none">{{ artisan.id }}</td>
                            <td style="padding-left:17px; "><strong>{{ artisan.raisonSociale }}</strong></td>
                            <td>{{ artisan.adressePrinc ~ ' '~ artisan.adresseSec ~ ' ' ~ artisan.codePostal ~ ' ' ~ artisan.ville }}</td>
                            <td class="text-center"><a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-primary" style="overflow: hidden; position: relative;" data-original-title="{{ artisan.telephoneBureau }}"><span class="badge"><i class="gi gi-earphone"></i></span></a>
                                <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-primary" style="overflow: hidden; position: relative;" data-original-title="{{ artisan.contactTelephone }}"><span class="badge"><i class="gi gi-iphone"></i></span></a>
                            </td>
                            <td class="text-center" style="width: 100px;">
                                <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-success" style="overflow: hidden; position: relative;" data-original-title="Modifier"><i class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-danger" style="overflow: hidden; position: relative;" data-original-title="Supprimer"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END Users Results -->
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}