{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% set userType = app.user.type %}

{% block title %}
    {{ userType }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/backoffice/css/syndic_dashboard.css') }}">

{% endblock %}

{% block titre_page %}
    Tableau de bord
{% endblock %}

{% block breadcrumb %}
    <li class="active">Tableau de bord</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-9">
        <div class="row">
            {% for copropriete in coproprietes %}
            <div class="col-sm-4">
                <div class="widget">
                    <div class="widget-image widget-image-xs">
                        <img src="{{ asset('assets/backoffice/img/medias/coownerships/city01.jpg') }}">
                        <div class="widget-image-content">
                            <h2 class="widget-heading text-light"><strong>{{ copropriete.nom }}</strong></h2>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="row text-center">
                            <div class="col-xs-5">
                                <h4 class="widget-heading">
                                    <small>DOCUMENTS</small>
                                    <br><a href="javascript:void(0)" class="themed-color-flat">chiffre</a></h4>
                            </div>
                            <div class="col-xs-7">
                                <h4 class="widget-heading">
                                    <small>COPROPRIÉTAIRES</small>
                                    <br><a href="javascript:void(0)" class="themed-color-flat">chiffre</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%  endfor %}
        </div>
    </div>

    <div class="col-sm-3">
        {# A SUPPRIMER ! UNIQUEMENT POUR TESTER #}
        <p>Partie Widget</p>
        <div class="row">
            <div class="col-sm-12">
                <div class="widget">
                    <div class="widget-image widget-image-xs">
                        <img src="{{ asset('assets/backoffice/img/medias/coownerships/city01.jpg') }}">
                        <div class="widget-image-content">
                            <h2 class="widget-heading text-light"><strong>COPROPRIETES</strong></h2>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="row text-center">
                            <div class="col-xs-5">
                                <h4 class="widget-heading">
                                    <small>DOCUMENTS</small>
                                    <br><a href="javascript:void(0)" class="themed-color-flat">16</a></h4>
                            </div>
                            <div class="col-xs-7">
                                <h4 class="widget-heading">
                                    <small>COPROPRIÉTAIRES</small>
                                    <br><a href="javascript:void(0)" class="themed-color-flat">7</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="widget">
                    <div class="widget-image widget-image-xs">
                        <img src="{{ asset('assets/backoffice/img/medias/coownerships/city01.jpg') }}">
                        <div class="widget-image-content">
                            <h2 class="widget-heading text-light"><strong>COPROPRIETES</strong></h2>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="row text-center">
                            <div class="col-xs-5">
                                <h4 class="widget-heading">
                                    <small>DOCUMENTS</small>
                                    <br><a href="javascript:void(0)" class="themed-color-flat">16</a></h4>
                            </div>
                            <div class="col-xs-7">
                                <h4 class="widget-heading">
                                    <small>COPROPRIÉTAIRES</small>
                                    <br><a href="javascript:void(0)" class="themed-color-flat">7</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}

