<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Vous êtes sur la page de l'admin {{ app.user.type }}.</h3>

Souhaitez vous créer un Compte ? <em>cliquez </em> sur l'un des liens ci dessous :</br>
<li>
    <ul><a class="" href="{{ path('akyos_easy_copro_backend_syndic_addCopro')}}">Vous souhaitez "Créer un compte Copropriétaire (NIVEAU X)"</a></ul>
    <ul><a class="" href="{{ path('akyos_easy_copro_backend_syndic_addLocataire')}}">Vous souhaitez "Créer un compte Locataire (NIVEAU X)"</a></ul>
    <ul><a class="" href="{{ path('akyos_easy_copro_backend_syndic_addArtisan')}}">Vous souhaitez "Créer un compte Artisan (NIVEAU X)"</a></ul>
</li>
</br>
Souhaitez vous éditer un Compte déjà éxistant ? <em>cliquez </em> sur l'un des liens ci dessous :</br>
<li>
    <ul><a class="" href="{{ path('akyos_easy_copro_backend_syndic_editCopro')}}">Vous souhaitez "Editer un compte Copropriétaire (NIVEAU X)"</a></ul>
    <ul><a class="" href="{{ path('akyos_easy_copro_backend_syndic_editLocataire')}}">Vous souhaitez "Editer un compte Locataire (NIVEAU X)"</a></ul>
    <ul><a class="" href="{{ path('akyos_easy_copro_backend_syndic_editArtisan')}}">Vous souhaitez "Editer un compte Artisan (NIVEAU X)"</a></ul>
</li>
</body>
</html>