{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block title %}
    Liste des ARTISANS
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <p>
    {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
    </p>
    <h4>Liste des artisans :</h4>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Raison sociale</th>
                <th>SIRET</th>
                <th>Email bureau</th>
            </tr>
        </thead>
        <tbody>
        {% for artisan in artisans %}
            <tr>
                <td><a href="{{ path('syndic_show_artisan', {'id': artisan.id}) }}">{{ artisan.id }}</a></td>
                <td>{{ artisan.raisonSociale }}</td>
                <td>{{ artisan.siret }}</td>
                <td>{{ artisan.emailBureau }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
{% endblock %}
