{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block title %}
    Liste des COPROPRIETES
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <p>
    {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
    </p>
    <h4>Liste des copropriétés :</h4>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Immatriculation</th>
                <th>Période de construction</th>
            </tr>
        </thead>
        <tbody>
        {% for copropriete in coproprietes %}
            <tr>
                <td>{{ copropriete.id }}</td>
                <td>{{ copropriete.nom }}</td>
                <td>{{ copropriete.immatriculation }}</td>
                <td>{{ copropriete.periodeConstruction|date('d/m/Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
{% endblock %}
