<li class="actived">
    <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01"
       class="collapsed">
        <h4 class="h4color">
            {{ app.user.username }}
            <br>
            <small>{{ app.user.type }} <span class="caret"></span></small>
        </h4>
    </a>
    <div class="non-active collapse" id="toggleDemo0" style="height: 0;">
        <ul class="nav nav-list">
            <li class="icon-profil-box">
                <a class="icon-profil-link" href="#"><i class="fa fa-user icon-profil" aria-hidden="true"></i></a>
                <a class="icon-profil-link" href="#"><i class="fa fa-user icon-profil" aria-hidden="true"></i></a>
                <a class="icon-profil-link" href="#"><i class="fa fa-user icon-profil" aria-hidden="true"></i></a>
            </li>

            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        </ul>
    </div>
</li>

<li class="non-active"><a href="{{ path('syndic_index') }}"><span class="glyphicon glyphicon-lock"></span> Accueil</a></li>
<li class="non-active"><a href="{{ path('syndic_index') }}"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
<li class="non-active">
    <a href="#" data-toggle="collapse" data-target="#toggleCoproprietes" data-parent="#sidenav01"
       class="collapsed">
        <span class="glyphicon glyphicon-inbox"></span> Mes Copropriétés<span
                class="caret pull-right"></span>
    </a>
    <div class="collapse" id="toggleCoproprietes" style="height: 0;">
        <ul class="nav nav-list">
            <li><a href="{{ path('syndic_list_coproprietes') }}">Liste des copropriétés</a></li>
            <li><a href="{{ path('syndic_create_copropriete') }}">Créer une copropriété</a></li>
        </ul>
    </div>
</li>
<li class="non-active">
    <a href="#" data-toggle="collapse" data-target="#toggleArtisans" data-parent="#sidenav01"
       class="collapsed">
        <span class="glyphicon glyphicon-inbox"></span> Mes Artisans<span
                class="caret pull-right"></span>
    </a>
    <div class="collapse" id="toggleArtisans" style="height: 0;">
        <ul class="nav nav-list">
            <li><a href="{{ path('syndic_list_artisans') }}">Liste des artisans</a></li>
            <li><a href="{{ path('syndic_create_artisan') }}">Créer un artisan</a></li>
        </ul>
    </div>
</li>
<li class="non-active">
    <a href="#" data-toggle="collapse" data-target="#toggleCoproprietaires" data-parent="#sidenav01"
       class="collapsed">
        <span class="glyphicon glyphicon-inbox"></span> Mes Copropriétaires<span class="caret pull-right"></span>
    </a>
    <div class="collapse" id="toggleCoproprietaires" style="height: 0;">
        <ul class="nav nav-list">
            <li><a href="{{ path('syndic_list_coproprietaires') }}">Liste des copropriétaires</a></li>
            <li><a href="{{ path('syndic_create_coproprietaire') }}">Créer un copropriétaire</a></li>
        </ul>
    </div>
</li>
<li class="non-active">
    <a href="#" data-toggle="collapse" data-target="#toggleLocataires" data-parent="#sidenav01"
       class="collapsed">
        <span class="glyphicon glyphicon-inbox"></span> Mes Locataires<span
                class="caret pull-right"></span>
    </a>
    <div class="collapse" id="toggleLocataires" style="height: 0;">
        <ul class="nav nav-list">
            <li><a href="{{ path('syndic_list_locataires') }}">Liste des locataires</a></li>
            <li><a href="{{ path('syndic_create_locataire') }}">Créer un locataire</a></li>
        </ul>
    </div>
</li>
<li class="non-active"><a href=""><span class="glyphicon glyphicon-calendar"></span> Messagerie
        <span class="badge pull-right">3</span></a></li>
<li class="non-active"><a href=""><span class="glyphicon glyphicon-cog"></span> Préférences</a></li>