<li class="non-active">
    <a href="{{ path('syndic_index') }}">
        <i class="fa fa-tachometer fa-fw" aria-hidden="true"></i> Dashboard
    </a>
</li>
<li class="non-active">
    <a href="#" data-toggle="collapse" data-target="#toggleDocuments" data-parent="#sidenav01"
       class="collapsed">
        <i class="fa fa-file-text fa-fw" aria-hidden="true"></i> Mes Documents<i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
    </a>
    <div class="collapse" id="toggleDocuments" style="height: 0;">
        <ul class="nav nav-list">
            <li><a href="">Diffuser un document</a></li>
            <li><a href="">Documents archivés</a></li>
        </ul>
    </div>
</li>
<li class="non-active">
    <a href="#" data-toggle="collapse" data-target="#toggleCoproprietes" data-parent="#sidenav01"
       class="collapsed">
        <i class="fa fa-building" aria-hidden="true"></i> Mes Copropriétés<i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
    </a>
    <div class="collapse" id="toggleCoproprietes" style="height: 0;">
        <ul class="nav nav-list">
            <li><a href="{{ path('syndic_list_coproprietes') }}">Liste des copropriétés</a></li>
            <li><a href="{{ path('syndic_create_copropriete') }}">Créer une copropriété</a></li>
            <li><a href="{{ path('syndic_list_lots', {'id':203}) }}">Liste des lots</a></li>
            <li><a href="{{ path('syndic_create_lot') }}">Créer un lot</a></li>
        </ul>
    </div>
</li>
<li class="non-active">
    <a href="#" data-toggle="collapse" data-target="#toggleArtisans" data-parent="#sidenav01"
       class="collapsed">
        <span class="glyphicon glyphicon-inbox"></span> Mes Artisans<i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
    </a>
    <div class="collapse" id="toggleArtisans" style="height: 0;">
        <ul class="nav nav-list">
            <li><a href="{{ path('syndic_list_artisans') }}">Liste des artisans</a></li>
            <li><a href="{{ path('syndic_create_artisan') }}">Créer un artisan</a></li>
        </ul>
    </div>
</li>
<li class="non-active">
    <a href="#" data-toggle="collapse" data-target="#toggleCoproprietaires" data-parent="#sidenav01"
       class="collapsed">
        <span class="glyphicon glyphicon-inbox"></span> Mes Copropriétaires<i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
    </a>
    <div class="collapse" id="toggleCoproprietaires" style="height: 0;">
        <ul class="nav nav-list">
            <li><a href="{{ path('syndic_create_coproprietaire') }}">Créer un copropriétaire</a></li>
        </ul>
    </div>
</li>
<li class="non-active">
    <a href="#" data-toggle="collapse" data-target="#toggleLocataires" data-parent="#sidenav01"
       class="collapsed">
        <span class="glyphicon glyphicon-inbox"></span> Mes Locataires<i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
    </a>
    <div class="collapse" id="toggleLocataires" style="height: 0;">
        <ul class="nav nav-list">
            <li><a href="{{ path('syndic_create_locataire') }}">Créer un locataire</a></li>
        </ul>
    </div>
</li>
<li class="non-active">
    <a href="#" data-toggle="collapse" data-target="#toggleMessagerie" data-parent="#sidenav01"
       class="collapsed">
        <span class="glyphicon glyphicon-inbox"></span> Messagerie<i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
    </a>
    <div class="collapse" id="toggleMessagerie" style="height: 0;">
        <ul class="nav nav-list">
            <li><a href="">Boite de réception</a></li>
            <li><a href="">Annuaire</a></li>
            <li><a href="">Envoyer un message</a></li>
        </ul>
    </div>
</li>