{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block title %}
    Affichage d'un message
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block titre_page %}
    Affichage d'un message
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('syndic_inbox') }}">Mes messages</a></li>
    <li class="active">Affichage d'un message</li>
{% endblock %}

{% block content %}
    <div class="row">
        <!-- Message View -->
        <div id="message-view" class="block-section col-md-10 col-md-offset-1" style="background:#FFF">
            <!-- Title -->
            <div class="block-title clearfix" style="margin:0px -15px">
                <div class="block-options pull-right">
                    <a href="{{ path('syndic_notLu', {'id': message.id}) }}" class="btn btn-effect-ripple btn-info" data-toggle="tooltip" title="Marquer comme non lu"><i class="fa fa-exclamation-circle"></i></a>
                    <a href="{{ path('syndic_nowSupprime', {'id': message.id}) }}" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" title="Supprimer"><i class="fa fa-times"></i></a>
                </div>
                <div class="block-options pull-left">
                    <a href="{{ path('syndic_inbox') }}" class="btn btn-effect-ripple btn-default" id="message-view-back"><i class="fa fa-chevron-left"></i> Retour à la boîte de reception</a>
                </div>
            </div>
            <!-- END Title -->

            <!-- Header -->

            <h3><strong>{{ message.titre }}</strong> <small><em>Reçu le {{ message.dateEnvoi|date('Y-m-d') }}</em></small></h3>
            <p>Expéditeur:<a href="#"> <strong>{{ message.expediteur }}</strong></a> Destinataire: <a href="#"><strong>{{ message.destinataire }}</strong></a></p>
            <!-- END Header -->

            <!-- Message Body -->
            <hr>
            <p>{{ message.contenu }}</p>
            <hr>
            <!-- END Message Body -->

            <!-- Attachments Row --> <!--
            <div class="row block-section">
                <div class="col-xs-6 col-sm-3 col-lg-2 text-center">
                    <a href="<?= ressources('back'); ?>/img/placeholders/photos/photo2.jpg" data-toggle="lightbox-image">
                        <img src="<?= ressources('back'); ?>/img/placeholders/photos/photo2.jpg" alt="photo" class="img-responsive push-bit">
                    </a>
                    <span class="text-muted">IMG0001.JPG</span>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2 text-center">
                    <a href="<?= ressources('back'); ?>/img/placeholders/photos/photo16.jpg" data-toggle="lightbox-image">
                        <img src="<?= ressources('back'); ?>/img/placeholders/photos/photo16.jpg" alt="photo" class="img-responsive push-bit">
                    </a>
                    <span class="text-muted">IMG0002.JPG</span>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2 text-center">
                    <a href="<?= ressources('back'); ?>/img/placeholders/photos/photo9.jpg" data-toggle="lightbox-image">
                        <img src="<?= ressources('back'); ?>/img/placeholders/photos/photo9.jpg" alt="photo" class="img-responsive push-bit">
                    </a>
                    <span class="text-muted">IMG0003.JPG</span>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2 text-center">
                    <a href="<?= ressources('back'); ?>/img/placeholders/photos/photo15.jpg" data-toggle="lightbox-image">
                        <img src="<?= ressources('back'); ?>/img/placeholders/photos/photo15.jpg" alt="photo" class="img-responsive push-bit">
                    </a>
                    <span class="text-muted">IMG0004.JPG</span>
                </div>
            </div> -->
            <!-- END Attachments Row -->

            <!-- Quick Reply Form -->
            {{ form_start(formReply) }}
                {{ form_row(formReply.contenu, {'attr': {'rows': 7,'class': 'form-control', 'placeholder':'Votre réponse..'}}) }}
                {{ form_row(formReply.send, {'attr': {'class': 'btn btn-effect-ripple btn-primary'}}) }}
          {{ form_end(formReply) }}
            <!-- END Quick Reply Form -->
        </div>
        <!-- END Message View -->
    </div>
{% endblock %}