{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block title %}
    Affichage DOCUMENT
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <p>
    {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
    </p>
    <h4> Document Visionné:</h4>
    <h4>{{ document.titre }}</h4>
    <ul>
        <li>{{ document.nom }}</li>
        <li>{{ document.description }}</li>
        <li>{{ document.confidentialite }}</li>
        <li>{{ document.fichier }}</li>
        <li>...</li>
    </ul>
    <p><a href="{{ path('syndic_edit_document', {'id' : document.id}) }}">Modifier le document</a></p>
    <p><a href="{{ path('syndic_delete_document', {'id' : document.id}) }}">Supprimer le document</a></p>
{% endblock %}

{% block scripts %}
{% endblock %}
