{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block title %}
    Affichage d'un locataire
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block titre_page %}
    Affichage d'un locataire
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('syndic_index') }}">Dashboard</a></li>
    <li><a href="{{ path('syndic_list_locataires') }}">Mes locataires</a></li>
    <li class="active">{{ locataire.prenom ~ ' ' ~ locataire.nom }}</li>
{% endblock %}

{% block content %}

    <h4>Afficher un locataire :</h4>
    <h4>{{ locataire.nom }}</h4>
    <ul>
        <li>{{ locataire.email }}</li>
        <li>{{ locataire.actuel }}</li>
        <li>...</li>
    </ul>
    <p><a href="{{ path('syndic_edit_locataire', {'id' : locataire.id}) }}">Modifier le locataire</a></p>
    <p><a href="{{ path('syndic_delete_locataire', {'id' : locataire.id}) }}">Supprimer le locataire</a></p>
{% endblock %}

{% block scripts %}
{% endblock %}
