{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block title %}
    Affichage d'un fournisseur
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block titre_page %}
    Affichage d'un fournisseur
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('syndic_index') }}">Dashboard</a></li>
    <li><a href="{{ path('syndic_gestion_artisans') }}">Mes fournisseurs</a></li>
    <li class="active">{{ artisan.raisonSociale }}</li>
{% endblock %}

{% block content %}
    <p>
    {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
    </p>
    <h4>Afficher un artisan :</h4>
    <h4>{{ artisan.raisonSociale }}</h4>
    <ul>
        <li>{{ artisan.siret }}</li>
        <li>{{ artisan.adressePrinc }}</li>
        <li>...</li>
    </ul>
    <p><a href="{{ path('syndic_edit_artisan', {'id' : artisan.id}) }}">Modifier l'artisan</a></p>
    <p><a href="{{ path('syndic_delete_artisan', {'id' : artisan.id}) }}">Supprimer l'artisan</a></p>
{% endblock %}

{% block scripts %}
{% endblock %}
