{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block title %}
    COPROPRIETE {{ copropriete.nom }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/backoffice/css/syndic_dashboard.css') }}">
{% endblock %}

{% block titre_page %}
    Affichage d'une copropriété
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('syndic_index') }}">Dashboard</a></li>
    <li><a href="{{ path('syndic_list_coproprietes') }}">Mes copropriétés</a></li>
    <li class="active">{{ copropriete.nom }}</li>
{% endblock %}

{% block content %}
{% dump(nbre_coproprietaires) %}
    <div class="row">
            <div class="col-lg-4 ">
                <div class="widget">
                    <div class="widget-image widget-image-xs">
                        <img src="{{ asset('assets/backoffice/img/medias/coownerships/city01.jpg') }}">
                        <div class="widget-image-content">
                            <h2 class="widget-heading text-light"><strong>{{ copropriete.nom }}</strong></h2>
                            <h3 class="widget-heading text-light-op h4">{{ copropriete.adressePrinc }}</h3>
                        </div>
                    </div>
                    <div class="widget-content widget-content-full border-bottom">
                        <div class="row text-center">
                            <div class="col-xs-6 push-inner-top-bottom border-right">
                                <h3 class="widget-heading"><i class="fa fa-users push"></i> <br><small><strong>{{ nbre_coproprietaires }}</strong> Copropriétaires</small></h3>

                            </div>
                            <div class="col-xs-6 push-inner-top-bottom">
                                <h3 class="widget-heading"><i class="fa fa-folder themed-color-social push"></i> <br><small><strong>{{ documents|length }}</strong> Documents</small></h3>
                            </div>

                        </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-8">
            <!-- Block Tabs Title -->
            <div class="block-title">
                    <ul class="nav nav-tabs" data-toggle="tabs">
                        <li><a href="#coownerships-inforrmations">Informations</a></li>
                        <li class="active"><a href="#coownerships-files">Documents</a></li>
                        <li><a href="#coownerships-residents">Copropriétaires</a></li>
                        <li><a href="#coownerships-providers">Fournisseurs</a></li>
                        <li id="coownerships-agenda-link"><a href="#coownerships-agenda">Événements</a></li>
                    </ul>
            </div>
            <!-- END Block Tabs Title -->

            <!-- Tabs Content -->
            <div class="tab-content">
                <!-- Informations -->
                <div class="tab-pane" id="coownerships-inforrmations">
                    <div class="animation-fadeInQuick2">
                        <form action="" method="post" class="form-horizontal" onsubmit="return false;">
                            <div class="col-md-7" style="margin-right:30px">
                                <div class="form-group">
                                    <label for="val-coownership-name">Nom de la propriété</label>
                                    <input type="text" id="val-coownership-name" name="val-coownership-name" value="{{ copropriete.nom }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="val-city">Ville</label>
                                    <input type="text" id="val-city" name="val-city" value="{{ copropriete.ville }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-7" style="margin-right:30px">
                                <div class="form-group">
                                    <label for="val-address">Adresse</label>
                                    <input type="text" id="val-address" name="val-address" value="{{ copropriete.adressePrinc }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="val-postal-code">Code postal</label>
                                    <input type="text" id="val-postal-code" name="val-postal-code" value="{{ copropriete.codePostal }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-7" style="margin-right:30px">
                                <div class="form-group">
                                    <label for="val-address">Date de Création</label>
                                    <input type="text" id="val-create-date" name="val-create-date" value="{{ copropriete.dateCreation|date('d/m/Y') }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="val-postal-code">Date de début de Gestion</label>
                                    <input type="text" id="val-" name="val-gestion-date" value="{{ copropriete.dateDebutGestion|date('d/m/Y') }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-right:45px">
                                <div class="form-group">
                                    <label for="val-parcelle">Parcelle Cadastrale</label>
                                    <input type="text" id="val-parcelle" name="val-parcelle" value="{{ copropriete.parcelleCadastrale }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-right:45px">
                                <div class="form-group">
                                    <label for="val-batiment-number">Nombre de Batiments</label>
                                    <input type="text" id="val-" name="val-batiment-number" value="{{ copropriete.nbBatiments|length }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="val-ascenceur-number">Nombre d'ascenceur</label>
                                    <input type="text" id="val-ascenceur-number" name="val-ascenceur-number" value="{{ copropriete.nbAscenseurs|length }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-right:45px">
                                <div class="form-group">
                                    <label for="val-construction-period">Période de Construction</label>
                                    <input type="text" id="val-construction-period" name="val-construction-period" value="{{ copropriete.periodeConstruction|date('Y') }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-right:45px">
                                <div class="form-group">
                                    <label for="val-lot-number">Nombre de Lots</label>
                                    <input type="text" id="val-lot-number" name="val-lot-number" value="{{ copropriete.nbLots|length }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="val-lot-number">Date de Réglements</label>
                                    <input type="text" id="val-reg-lots" name="val-reg-lots" value="{{ copropriete.dateReglement|length }}" class="form-control">
                                </div>
                            </div>

                            <div class="form-group form-actions">
                                <div class="col-md-3">
                                    <a href="{{ path('syndic_edit_copropriete', {'id':copropriete.id}) }}"><button type="button" class="btn btn-effect-ripple btn-primary" style="overflow: hidden; position: relative;" value="Mettre à jour">Mettre à jour
                                        </button></a></div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END Informations -->

                <!-- Documents -->
                <div class="tab-pane active" id="coownerships-files">
                    <div class="block-content-full animation-fadeInQuick2">
                        <div class="table-responsive">
                            <table id="files-datatable" class="table table-striped table-borderless style-hover table-vcenter">
                                <thead>
                                <tr style="background:#EDEDED;">
                                    <th class="text-center" style="width: 25px; display:none">ID</th>
                                    <th>Nom du fichier</th>
                                    <th>Type</th>
                                    <th>Auteur</th>
                                    <th style="width: 80px;">Ajouté le</th>
                                    <th class="text-center" style="width: 42px;"><i class="fa fa-flash"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for document in documents %}
                                <tr>
                                    <td class="text-center" style="display:none">{{ document.id }}</td>

                                    <td style="padding-left:17px; "><a href="">
                                        <strong>{{ document.nom }}</strong>
                                        </a></td>
                                    <td><span class="label<?php echo ($labels[$rand]['class']) ? " " . $labels[$rand]['class'] : ""; ?>">
                                        <?php echo $labels[$rand]['text'] ?></span></td>
                                    <?php $rand2 = rand(0, 5); ?>
                                    <td><?php echo ($identity[$rand2]) ? $identity[$rand2] : ""; ?></td>
                                    <th class="text-center">25-01-2015</th>
                                    <td class="text-center">
                                        <a href="javascript:void(0)" data-toggle="tooltip" title="Télécharger le fichier" class="btn btn-effect-ripple btn-xs btn-primary">
                                            <i class="fa fa-download"></i></a>
                                        <a href="javascript:void(0)" data-toggle="tooltip" title="Supprimer le fichier" class="btn btn-effect-ripple btn-xs btn-danger">
                                            <i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Coproprietaires -->
                <div class="tab-pane" id="coownerships-residents">
                    <div class="block-content-full">
                        <table class="table table-striped table-borderless table-vcenter remove-margin-bottom">
                            <thead class="themed-background-muted-off">
                            <td colspan="10" style="padding:10px;">
                                <a href="#modal-create-coproprietaire" class="btn btn-create-coproprietaire btn-effect-ripple btn-primary pull-right animation-fadeInQuick2" data-createcoproprietaire="" data-toggle="modal">Ajouter un copropriétaire</a>
                            </td>
                            </thead>
                            <tbody>
                            {% for coproprietaire in coproprietaires %}
                            <tr class="animation-fadeInQuick2">
                                <td class="text-center" style="width: 100px;"><img src="{{ vich_uploader_asset(coproprietaire.user, 'imageFile') }}" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar"></td>
                                <td>
                                    <h4><strong>{{ coproprietaire.nom }}</strong> {{ coproprietaire.prenom }}
                                        <span>{% if coproprietaire.membreConseil  %}
                                            <i class="fa fa-fw fa-bookmark"></i> Membre du Conseil
                                        {% endif %}
                                        </span>
                                    </h4>

                                    <i class="fa fa-fw fa-envelope"></i> {{ coproprietaire.email }}  &nbsp; &nbsp;
                                    <i class="fa fa-fw fa-phone"></i> {{ coproprietaire.telephone }}  &nbsp; &nbsp;
                                    <i class="fa fa-fw fa-map-marker text-info"></i>Lot N° {{ coproprietaire.lot.identifiant }} &nbsp; &nbsp;

                                </td>
                                <td class="text-center" style="width: 100px;">
                                    <a href="javascript:void(0)" class="btn btn-xs btn-info" data-toggle="tooltip" title="Envoyer un message">
                                        <i class="fa fa-envelope"></i></a> &nbsp;
                                    <a href="#modal-fade-del-coproprietaire" data-coproprietaire="{{ coproprietaire.id }}" data-toggle="modal" title="Supprimer le copropriétaire"  class="btn btn-delete-coproprietaire btn-effect-ripple btn-xs btn-danger" style="overflow: hidden; position: relative;" data-original-title="Supprimer"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END Coproprietaires -->

                <!-- Artisans -->
                <div class="tab-pane" id="coownerships-providers">
                    <div class="block-content-full">
                        <table class="table table-striped table-borderless table-hover table-vcenter" style="margin-bottom:0">
                            <thead class="themed-background-muted-off">
                            <td colspan="10" style="padding:10px;">
                                <a href="#modal-addprovider" class="btn btn-effect-ripple btn-primary pull-right animation-fadeInQuick2" data-toggle="modal">Ajouter un fournisseur</a>
                            </td>
                            </thead>
                            {% for artisan in artisans %}
                            <tbody>
                            <tr class="animation-fadeInQuick">
                                <td><strong>{{ artisan.contactPrenom }}</strong> {{ artisan.contactNom }}</td>
                                <td>{{ artisan.adressePrinc }} - {{ artisan.codePostal }} {{ artisan.ville }}</td>
                                <td><a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-primary" style="overflow: hidden; position: relative;" data-original-title="{{ artisan.telephoneBureau }}"><span class="badge"><i class="gi gi-earphone"></i></span></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-primary" style="overflow: hidden; position: relative;" data-original-title="{{ artisan.contactTelephone }}"><span class="badge"><i class="gi gi-iphone"></i></span></a>
                                </td>
                                <td class="text-center" style="width: 100px;">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-success" style="overflow: hidden; position: relative;" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-danger" style="overflow: hidden; position: relative;" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END Providers -->

                <div class="tab-pane" id="coownerships-agenda">
                    <!-- START FullCalendar Block -->
                    <div id="calendar" class="animation-fadeInQuick2"></div>
                    <!-- END FullCalendar Block -->
                </div>
            </div>
            <!-- END Tabs Content -->
        </div>
    </div>
    </div>
    <!-- END User Profile Row -->

    <!-- Add file Modal -->
    <div id="modal-addfile" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><strong>Ajouter un nouveau document</strong></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <form action="<?= WWW; ?>/" method="post" class="form-horizontal" onsubmit="return false;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="val-coownership-name">Renommer le fichier :</label>
                                            <input type="text" id="val-coownership-name" name="val-coownership-name" placeholder="( Facultatif )" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="val-coownership-name">Associer à un type* :</label>
                                            <select id="example-select2" name="example-select2" class="select-select2" style="width: 100%;" data-placeholder="Choississez un type..">
                                                <option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
                                                <option value="cmptreunion">Compte rendu de réunion</option>
                                                <option value="facture">Facture</option>
                                                <option value="communiqye">Communiqué</option>
                                                <option value="communiqye">Autre</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Document :</label>
                                            <input type="file" class="filestyle" id="fileInput" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                            <div class="bootstrap-filestyle input-group"><input type="text" class="form-control " disabled="">
                                                <span class="group-span-filestyle input-group-btn" tabindex="0">
                                            <label for="fileInput" class="btn btn-info">
                                                <span class="glyphicon fa fa-file-o"></span> &nbsp; Importer un fichier
                                            </label>
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-actions">
                                            <input type="submit" class="btn btn-effect-ripple btn-primary" value="Envoyer">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Add File Modal -->


    <!-- Add coproprietaire Modal -->
    <div id="modal-create-coproprietaire" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><strong>Ajouter un copropriétaire</strong></h3>
                </div>
                <div class="modal-body">
                {{ render(controller('AKYOSEasyCoproBundle:Syndic:createCoproprietaire')) }}
                    {#<div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <!--<form action="<?= WWW; ?>/" method="post" class="form-horizontal" onsubmit="return false;">-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="val-coownership-name">Nom d'utilisateur:</label>
                                            {{ form_widget(form.user.username, { 'attr': {'class': 'form-control', 'placeholder':'Nom d\'utilisateur'}}) }}
                                            <!--<input type="text" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">-->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="val-coownership-name">Adresse email :</label>
                                            <!--<input type="email" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">-->
                                            {{ form_widget(form.user.email, { 'attr': {'class': 'form-control', 'placeholder':'Adresse e-mail'}}) }}
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="val-coownership-name">Mot de passe :</label>
                                        <!--<input type="email" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">-->
                                        {{ form_widget(form.user.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder':'Mot de passe'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="val-coownership-name">Mot de passe :</label>
                                        <!--<input type="email" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">-->
                                        {{ form_widget(form.user.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder':'Répéter le mot de passe'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <h3>Informations personnelles</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label for="val-coownership-name">Prénom :</label>
                                        <!--<input type="text" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">-->
                                        {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder':'Prenom'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="val-coownership-name">Nom :</label>
                                        <!--<input type="email" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">-->
                                        {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder':'Nom'}}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="val-coownership-name">Téléphone :</label>
                                        <!--<input type="email" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">-->
                                        {{ form_widget(form.telephone, { 'attr': {'class': 'form-control', 'placeholder':'Téléphone'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label for="val-coownership-name">RIB :</label>
                                        <!--<input type="text" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">-->
                                        {{ form_widget(form.rib, { 'attr': {'class': 'form-control', 'placeholder':'RIB'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label for="val-coownership-name">Date d'arrivée :</label>
                                        <!--<input type="text" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">-->
                                        {{ form_widget(form.dateArrivee, { 'attr': {'class': 'form-control', 'placeholder':'Date d\emménagement'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label for="val-coownership-name">Date de départ :</label>
                                        <!--<input type="text" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">-->
                                        {{ form_widget(form.dateDepart, { 'attr': {'class': 'form-control', 'placeholder':'Date de départ'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label for="val-coownership-name">Nombre d'enfants :</label>
                                        <!--<input type="text" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">-->
                                        {{ form_widget(form.nbEnfants, { 'attr': {'class': 'form-control', 'placeholder':'Nombre d\'enfants'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                     <div class="checkbox">
                                        <label>
                                            {{ form_widget(form.membreConseil) }} Membre du conseil syndical

                                        </label>
                                     </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="checkbox">
                                        <label>
                                            {{ form_widget(form.actuel) }} Actuellement copropriétaire
                                        </label>
                                    </div>
                                </div>
                            </div>

                                <!--<div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="val-coownership-name">Est-ce un conseiller syndical ? &nbsp; &nbsp; </label>
                                            <label class="switch switch-info" for="validation-terms">
                                                <input type="checkbox" id="validation-terms" name="validation-terms" value="1">
                                                <span data-toggle="tooltip" title="Augmente les privilèges"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-actions">
                                            <a href=""  id="create-coproprietaire"><input type="submit" class="btn btn-create-coproprietaire btn-effect-ripple btn-primary" value="Envoyer"></a>
                                        </div>
                                    </div>
                                </div>
                            <!--</form>-->
                            {{ form_errors(form) }}
                            {{ form_end(form) }}#}
                        </div>
                    </div>
                </div>

    <!-- END coowner Modal -->


    <!-- Add artisans Modal -->
    <div id="modal-addprovider" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><strong>Ajouter un fournisseur</strong></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <form action="<?= WWW; ?>/" method="post" class="form-horizontal" onsubmit="return false;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="val-coownership-name">Nom :</label>
                                            <input type="text" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="val-coownership-name">Adresse :</label>
                                            <input type="text" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="val-coownership-name">Ville :</label>
                                            <input type="text" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-md-offset-1">
                                        <div class="form-group">
                                            <label for="val-coownership-name">Code postal :</label>
                                            <input type="text" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="val-coownership-name">Tél portable :</label>
                                            <input type="text" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-md-offset-1">
                                        <div class="form-group">
                                            <label for="val-coownership-name">Tél fixe :</label>
                                            <input type="text" id="val-coownership-name" name="val-coownership-name" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-actions">
                                            <input type="submit" class="btn btn-effect-ripple btn-primary" value="Envoyer">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modals -->
    <div id="modal-fade-del-coproprietaire" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><strong>Confirmation de suppression</strong></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Voulez-vous vraiment supprimer ce copropriétaire ?</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <div class="form-group pull-right">
                            <a href=""  id="delete-coproprietaire"><button type="button" class="btn btn-effect-ripple btn-primary">Supprimer</button></a>
                            <button type="button" class="btn btn-effect-ripple btn-danger" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END provider Modal -->

{% endblock %}


{% block scripts %}
    <script src="{{ asset('assets/backoffice/js/gestion_documents.js') }}"></script>
{% endblock %}