{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block title %}
    Affichage du profil
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block titre_page %}
    Affichage du profil
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('syndic_index') }}">Dashboard</a></li>
    <li class="active">Mon profil</li>
{% endblock %}

{% block content %}

    <h4>Votre profil :</h4>
    <h4>{{ syndic.nom }}</h4>
    <ul>
        <li>{{ syndic.emailBureau }}</li>
        <li>{{ syndic.adressePrinc }}</li>
        <li>...</li>
    </ul>
    <p><a href="{{ path('syndic_edit')}}">Modifier votre Profil</a></p>
{% endblock %}

{% block scripts %}
{% endblock %}
