
<h1>Un message de l'utilisateur {{ name }} à été reçu !</h1>
<br/>

<strong>Nom :</strong> <tt>{{ name }}</tt>
<br/>
<br/>
<strong>E-mail :</strong> <tt>{{ email }}</tt>
<br/>
<br/>
<strong>Télephone :</strong> <tt>{{ tel }}</tt>
<br/>
<br/>
<strong>Message :</strong> <tt>{{ message }}</tt>
<br/>
<br/>
<br/>

<h3>N'oubliez pas de répondre aux personnes via leur E-mail personnel .
    <br/>
    <em>( Ne cliquez pas directement sur "Répondre" )</em></h3>