<!-- Wrapper for scrolling functionality -->

<div id="sidebar-scroll">
    <!-- Sidebar Content -->
    <div class="sidebar-content">
        <!-- Sidebar Navigation -->
        <ul class="sidebar-nav">
            <li>
                    <a href="{{ path('locataire_index') }}" class=""><i class="gi gi-compass sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Tableau de Bord</span></a>
            </li>
            <li class="sidebar-separator">
                <i class="fa fa-ellipsis-h"></i>
            </li>
            <li>
                <a href="{{ path('locataire_show') }}" class=""><i class="fa fa-pencil-square sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Mon Profil</span></a>
            </li>
            <li>
                <a href="{{ path('locataire_show_copropriete') }}"><i class="fa fa-building sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Ma Copropriété</span></a>
            </li>
            <li class="sidebar-separator">
                <i class="fa fa-ellipsis-h"></i>
            </li>
            <li>
                    <a href="{{ path('locataire_gestion_documents') }}"><i class="fa fa-folder sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Mes Documents</span></a>
            </li>
            <li>
                <a href="{{ path('mailbox_homepage', {'type': app.user.type}) }}"><i class="fa fa-envelope sidebar-nav-icon"></i>
                    {% if nbMessages > 0 %}
                    <span class="badge badge-menu-item label-primary pull-right sidebar-nav-mini-hide">
                        {{ nbMessages }}
                    </span>
                    {% endif %}
                    <span class="sidebar-nav-mini-hide">Mes Messages</span>
                </a>
            </li>

            <li class="sidebar-separator">
                    <i class="fa fa-ellipsis-h"></i>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Se déconnecter</span></a>
            </li>
            {#<li>#}
                    {#<a href=""><i class="fa fa-comment sidebar-nav-icon"></i>#}
                            {#<span class="badge badge-menu-item label-info pull-right sidebar-nav-mini-hide">X</span><span class="sidebar-nav-mini-hide">Suggestions</span></a>#}
            {#</li>#}
        </ul>
        <!-- END Sidebar Navigation -->
    </div>
    <!-- END Sidebar Content -->
</div>
<!-- END Wrapper for scrolling functionality -->
