<!-- Wrapper for scrolling functionality -->

<div id="sidebar-scroll">
        <!-- Sidebar Content -->
        <div class="sidebar-content">
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav">
                        <li>
                                <a href="{{ path('locataire_index') }}" class=""><i class="gi gi-compass sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Tableau de Bord</span></a>
                        </li>
                        <li class="sidebar-separator">
                                <i class="fa fa-ellipsis-h"></i>
                        </li>
                        <li>
                                <a href="{{ path('locataire_show') }}" class=""><i class="gi gi-compass sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Mon Profil</span></a>
                        </li>
                        <li class="sidebar-separator">
                                <i class="fa fa-ellipsis-h"></i>
                        </li>
                        <li>
                                <a href="{{ path('locataire_gestion_documents') }}"><i class="fa fa-folder sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Mes Documents</span></a>
                        </li>
                        <li>
                                <a href="{{ path('locataire_inbox') }}"><i class="fa fa-envelope sidebar-nav-icon"></i><span class="badge badge-menu-item label-danger pull-right sidebar-nav-mini-hide">{% set nbmessages = locataire.user.messagesRecus|length %}
                                        {{ nbmessages }}</span>
                                        <span class="sidebar-nav-mini-hide">Mes Messages</span></a>
                        </li>

                        <li class="sidebar-separator">
                                <i class="fa fa-ellipsis-h"></i>
                        </li>
                </ul>
                <!-- END Sidebar Navigation -->

        </div>
        <!-- END Sidebar Content -->
</div>
<!-- END Wrapper for scrolling functionality -->
