{% extends '@AKYOSEasyCopro/BackOffice/Locataire/layout.html.twig' %}

{% block title %}
    Affichage d'un document
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block titre_page %}
    Affichage d'un document
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('locataire_index') }}">Tableau de bord</a></li>
    <li><a href="{{ path('locataire_gestion_documents') }}">Mes documents</a></li>
    <li class="active">{{ document.titre }}</li>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-3">
            <div class="row" style="background:#FFF; margin-bottom: 20px">
                <div class="col-md-12">
                    <a href="javascript:void(0)" class="btn btn-block btn-default visible-xs" data-toggle="collapse" data-target="#todo-informations">Informations</a>
                    <div id="todo-informations" class="collapse navbar-collapse remove-padding">
                        <h4 class="inner-sidebar-header">Informations

                            <a href="{{ vich_uploader_asset(document, 'fichier') }}"
                               download="{{ document.nom~'.'~document.extension }}" data-toggle="tooltip"
                               title="Télécharger le document"
                               class="btn btn-effect-ripple btn-xs btn-primary pull-right" style="margin-right: 4px">
                                <i class="fa fa-download"></i></a>

                        </h4>
                        <div class="block-section">
                            <h4 style="margin: 15px 0 8px 0"><strong>{{ document.titre }} </strong></h4>
                            <p><span class="label pull-right" style="background-color: {{ document.categorie.couleur }}; font-size: small;">{{ document.categorie }}</span></p>
                            <p style="margin-top: 35px">{{ document.description|nl2br }}
                                <small  class="pull-right text-right"><br><em>ajouté le {{ document.dateAjout|date('d/m/Y') }}</em>
                                    {% if document.dateModif is not null %}<br><em>modifié le {{ document.dateModif|date('d/m/Y') }}</em>{% endif %}</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="background:#FFF">
                <div class="col-md-12">
                    <div id="todo-options" class="collapse navbar-collapse remove-padding">
                        <h4 class="inner-sidebar-header">Liste de diffusion</h4>
                        <div class="block-section">

                            <h5><strong style="margin-right: 20px">Copropriété :</strong> {{ document.copropriete }}</h5>
                            <h5><strong>Copropriétaires :</strong></h5>

                            {% for lot in document.lots %}
                                {% set coproprietaire = lot|actuelCoproprietaire %}
                                <span class="label label-primary">{{ coproprietaire.prenom ~ ' ' ~ coproprietaire.nom }}</span>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-9">
            <div class="block-content-full">
                {% if document.extension in ['bmp','jpg', 'jpeg', 'png', 'gif', 'tiff'] %}
                    <img src="{{ vich_uploader_asset(document, 'fichier') }}">
                {% else %}
                    <embed src="{{ vich_uploader_asset(document, 'fichier') }}" width="100%" height="600px"></embed>
                {% endif %}
            </div>
        </div>

    </div>


    <div id="modal-fade-del-document" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><strong>Confirmation de suppression</strong></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Voulez-vous vraiment supprimer ce document ?</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <div class="form-group pull-right">
                            <a href="" id="delete-doc" style="margin-right: 20px;"><button type="button" class="btn btn-effect-ripple btn-primary">Supprimer</button></a>
                            <button type="button" class="btn btn-effect-ripple btn-danger" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/backoffice/js/gestion_documents.js') }}"></script>
{% endblock %}
