{% extends '@AKYOSEasyCopro/BackOffice/Locataire/layout.html.twig' %}

{% block title %}
    Affichage Copropriété
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block titre_page %}
    Ma copropriété
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('syndic_index') }}">Tableau de bord</a></li>
    <li class="active">Ma copropriété</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-4 ">
            <div class="widget">
                <div class="widget-image widget-image-xs">
                    <img src="{{ vich_uploader_asset(copropriete, 'illustrationFile') }}">
                    <div class="widget-image-content">
                        <h2 class="widget-heading text-light"><strong>{{ copropriete.nom }}</strong></h2>
                        <h3 class="widget-heading text-light-op h4">{{ copropriete.adressePrinc }}</h3>
                    </div>
                </div>
                <div class="widget-content widget-content-full border-bottom">
                    <div class="row text-center">
                        <div class="col-xs-6 push-inner-top-bottom border-right">
                            <h3 class="widget-heading"><i class="fa fa-users push"></i>
                                <br><small><strong>{{ nbrelocataire }}</strong> Locataires</small></h3>
                        </div>
                        <div class="col-xs-6 push-inner-top-bottom">
                            <h3 class="widget-heading"><i class="fa fa-folder themed-color-social push"></i>
                                <br><small><strong>{{ documents|length }}</strong> Documents</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-8">

            {{ render(controller('AKYOSEasyCoproBundle:Locataire:editCopropriete')) }}



        </div>
    </div>





{% endblock %}

{% block scripts %}
{% endblock %}